In [1]:
import pandas as pd
import numpy as np

In [2]:
surveys = pd.read_csv('../data/StackOverflowDeveloperSurvey2018.csv',
                     low_memory=False,
                     usecols=['Country','Gender','OperatingSystem'])

In [3]:
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [11]:
len(surveys['Country'])

98855

In [5]:
surveys['Country'].is_unique

False

In [9]:
len(surveys['Country'].unique())

184

In [13]:
surveys.Country.nunique()

183

In [14]:
duplicatesKeepFirst = surveys['Country'].duplicated()

In [15]:
duplicatesKeepFirst

0        False
1        False
2        False
3         True
4        False
         ...
98850     True
98851     True
98852     True
98853     True
98854     True
Name: Country, Length: 98855, dtype: bool

In [16]:
surveys[duplicatesKeepFirst].head()

           Country OperatingSystem Gender
3    United States         Windows   Male
5   United Kingdom     Linux-based   Male
6    United States           MacOS   Male
8    United States           MacOS   Male
11           India             NaN    NaN

In [17]:
len(surveys[duplicatesKeepFirst])

98671

In [21]:
surveys.drop_duplicates(subset=['Country', 'OperatingSystem'], inplace=True)

In [31]:
len(surveys)

669

In [35]:
surveys.query("Country == 'Poland'")

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN