In [1]:
import pandas as pd
import numpy as np

In [2]:
mcdonalds = pd.read_csv('../data/Mcdonalds.csv', usecols=['Category', 'Item', 'Calories', 'TotalFat'])

In [3]:
mcdonalds.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [6]:
mcdonalds.to_csv('mc-1.csv', index=False)

In [8]:
pd.read_csv('mc-1.csv').head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [16]:
mcdonalds.to_csv('mc-2.csv', index = False, quotechar='"')

In [18]:
pd.read_csv('mc-2.csv').head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [21]:
mcdonalds.to_csv('mc-3.csv', index = True, quotechar='"', decimal=',')

In [39]:
pd.read_csv('mc-3.csv', decimal=',').head(2)

   Unnamed: 0   Category               Item  Calories  TotalFat
0           0  Breakfast       Egg McMuffin       300      13.0
1           1  Breakfast  Egg White Delight       250       8.0

In [28]:
mcdonalds.to_csv('mc-4.csv', index=False, quotechar='"', decimal=',', columns=['Item', 'TotalFat'])

In [38]:
pd.read_csv('mc-4.csv', decimal=',').head(2)

                Item  TotalFat
0       Egg McMuffin      13.0
1  Egg White Delight       8.0

In [35]:
mcdonalds.to_json('mc-5.json')

In [37]:
pd.read_json('mc-5.json').head(2)

    Category               Item  Calories  TotalFat
0  Breakfast       Egg McMuffin       300      13.0
1  Breakfast  Egg White Delight       250       8.0

In [46]:
html = mcdonalds.to_html()

In [47]:
import io

In [48]:
with io.open('mc-7.html', 'w', encoding='utf-8') as file:
    file.write(html)