In [2]:
import pandas as pd
import numpy as np

In [3]:
suppliers = pd.read_csv('../data/northwind-mongo-master/suppliers _del_1.csv',
                       usecols=['SupplierID', 'CompanyName', 'City'])

In [4]:
products = pd.read_csv('../data/northwind-mongo-master/products_del_1.csv',
                      usecols=['ProductID', 'ProductName', 'SupplierID'])

In [5]:
prod_and_sup = products.merge(right=suppliers, how='inner', indicator=True)

In [6]:
len(prod_and_sup)

70

In [7]:
len(suppliers)

27

In [8]:
len(products)

75

In [9]:
prod_and_sup.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1,Chai,1,Exotic Liquids,London,both
1,2,Chang,1,Exotic Liquids,London,both
2,3,Aniseed Syrup,1,Exotic Liquids,London,both
3,4,Chef Anton's Cajun Seasoning,2,New Orleans Cajun Delights,New Orleans,both
4,5,Chef Anton's Gumbo Mix,2,New Orleans Cajun Delights,New Orleans,both

In [10]:
prod_and_sup_outer = products.merge(right=suppliers, how='outer', indicator=True)

In [11]:
len(prod_and_sup_outer)

76

In [12]:
left = prod_and_sup_outer['_merge'] == 'left_only'

In [13]:
prod_and_sup_outer[left]

    ProductID          ProductName  SupplierID CompanyName City     _merge
27       22.0  Gustaf's Knäckebröd           9         NaN  NaN  left_only
28       23.0             Tunnbröd           9         NaN  NaN  left_only
48       36.0          Inlagd Sill          17         NaN  NaN  left_only
49       37.0           Gravad lax          17         NaN  NaN  left_only
50       73.0           Röd Kaviar          17         NaN  NaN  left_only

In [14]:
right = prod_and_sup_outer['_merge'] == 'right_only'

In [15]:
prod_and_sup_outer[right]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
75,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only

In [39]:
products = pd.read_csv('../data/northwind-mongo-master/products_del_2.csv',
                      usecols=['ProductID', 'ProductName', 'SupplierID'])

In [40]:
suppliers = pd.read_csv('../data/northwind-mongo-master/suppliers.csv',
                       usecols=['SupplierID', 'CompanyName', 'City'])

In [41]:
supp_prod = suppliers.merge(right=products, on='SupplierID', indicator=True)

In [42]:
len(products)

68

In [43]:
len(suppliers)

29

In [44]:
len(supp_prod)

68

In [45]:
sup_prod_left = suppliers.merge(right=products, how='left', on='SupplierID', indicator=True)

In [46]:
sup_prod_left.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
3,3,Grandma Kelly's Homestead,Ann Arbor,6.0,Grandma's Boysenberry Spread,both
4,3,Grandma Kelly's Homestead,Ann Arbor,7.0,Uncle Bob's Organic Dried Pears,both

In [47]:
len(sup_prod_left)

70

In [48]:
left = sup_prod_left['_merge'] == 'left_only'

In [49]:
sup_prod_left[left]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [51]:
sup_prod_right = products.merge(right=suppliers, how='right', on='SupplierID', indicator=True)

In [52]:
sup_prod_right.head()

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
0,1.0,Chai,1,Exotic Liquids,London,both
1,2.0,Chang,1,Exotic Liquids,London,both
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
3,6.0,Grandma's Boysenberry Spread,3,Grandma Kelly's Homestead,Ann Arbor,both
4,7.0,Uncle Bob's Organic Dried Pears,3,Grandma Kelly's Homestead,Ann Arbor,both

In [53]:
right = sup_prod_right['_merge'] == 'right_only'

In [54]:
sup_prod_right['_merge'].value_counts()

both          68
right_only     2
left_only      0
Name: _merge, dtype: int64

In [55]:
sup_prod_right[right]

,ProductID,ProductName,SupplierID,CompanyName,City,_merge
2,NaN,NaN,2,New Orleans Cajun Delights,New Orleans,right_only
67,NaN,NaN,27,Escargots Nouveaux,Montceau,right_only