In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [33]:
cols = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS',
        'RAD','TAX','PTRATIO','B','LSTAT','MEDV']

In [34]:
data = pd.read_csv("../ml_data/housing.data",
                   sep=' +', engine='python', header=None, 
                   names=cols)

In [35]:
X = data.drop('MEDV', axis=1)

In [36]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33

In [37]:
y = data['MEDV'].values

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [46]:
X1_train = X_train

In [47]:
X1_test = X_test

In [48]:
X2_train = X_train.loc[:,['LSTAT', 'RM', 'PTRATIO', 'INDUS','TAX','NOX']]

In [49]:
X2_test  = X_test.loc[:,['LSTAT', 'RM', 'PTRATIO', 'INDUS','TAX','NOX']]

In [50]:
lr1 = LinearRegression(normalize=True)

In [62]:
lr1.fit(X1_train, y_train)

In [52]:
score_all_columns = lr1.score(X1_test, y_test)

In [53]:
score_all_columns

0.7548062500502208

In [54]:
lr2 = LinearRegression(normalize=True)

In [61]:
lr2.fit(X2_train, y_train)

In [56]:
score_selected_columns = lr2.score(X2_test, y_test)

In [57]:
score_selected_columns

0.7500567449755732

In [58]:
print(score_all_columns, score_selected_columns)

0.7548062500502208 0.7500567449755732